@media (min-width: 750px) {
  form {
    width: calc(100vw / 3);
  }
}

body {
  background-color: rgb(93, 116, 101);
}
 .img{
    height: 500px;
    width: 350px;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    margin: 10px 16px 10px 20px;
    background: rgb(182, 226, 145);
    align-items: center;
    justify-content: center;
    border: 20px;
    border-radius: 10px; 
    text-align: center;
    
   }
  
    .box{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
     
        /* background: white;
        text-align: center;
        height:220px ;
        width: 222px;
        padding: 20px 0 0 0 ; 
        border-radius: 7px;
        border:  rgb(0, 179, 155);
        margin: 10px; */
        
      }

      .colorTitle{
        color: #11b611 ;
        text-align: center;
        font: optional;
        font-size: x-large;
      }

      input[type=text],[type=date]  {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      

      input[type=submit] {
        width: 40%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
  
      .backround{
        border-radius: 5px;
        width: calc(70vw / 1.8);
        background-color: #ebe3e3;
        padding: 20px;
      }


      input[type=submit]:hover {
        background-color: #45a049;


      }
      .search-container {
              
        display: flex;
        align-items: center;
        justify-content:  space-evenly ; 
        padding: 6px;
        margin: 10px;
        width:100%;
      }
      
      .search-container input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border-width: 10;
        width:100%;
      }
      
      .topnav .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 15px;
        border-width: 5;
        cursor: pointer;
        text-align: left;
        
      }
      .btn {
        outline: 0;
        margin: 15px;
        cursor: pointer;
        border-radius: 4px;
        background: red;
        width: 100px;
        border: 0.5px solid rgba(0, 0, 0, 0.37);
        padding: 0.5rem 1rem;
      }
      
      .btn-danger {
        color: white;
        background: darkred;
      }
      
      .btn-primary {
        color: white;
        background: darkred;
      }
      
      .add-movie-btn {
        background:  #4CAF50;
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 0;
      }
           